# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore config/devices folder
#config/devices/

# Ignore secrets and sensitive files
secrets.yaml

# Ignore history CSV files
custom_components/sifely_cloud/history/*.csv

# Ignore todo file
todo

# Ignore virtual environments (common names)
env/
venv/
.venv/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore backups or temp files
*.bak
*.swp
*.tmp
